.navbar-collapse{
    justify-content: end;
}

.navbar-expand-lg .navbar-nav .nav-link{
    margin-right: 120px;
}

.navbar-nav{
    --bs-nav-link-color: black;
    font-weight: bolder;
}

#nav-log-btn{
    border-radius: 30px;
    font-size: 1.1em;
    background-color: var(--basicColor);
    padding: 1% 5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

:root{
    --basicColor: #fa4753;
    --hoverColor: #5bccf6;
}

html{
    scroll-behavior: smooth;
}

/* <!------------------------------- HEADER-START ------------------------------------> */
#header-banner{
    background-color: rgb(68, 67, 67);
    background-image: url("images/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-blend-mode: multiply;
    padding: 12%;
    margin-bottom: 3%;
}

#header-banner h1{
    font-size: 5em;
    font-weight: bolder;
}
#header-banner p{
    font-size: 1.5rem;
}

@media only screen and (max-width:970px) {
    #header-banner h1{
        font-size: 4.6em;
    }
    #header-banner p{
        font-size: 1rem;
    }
}

@media only screen and (max-width:700px) {
    #header-banner h1{
        font-size: 3em;
    }
    #header-banner p{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:400px) {
    #header-banner h1{
        font-size: 2em;
    }
    #header-banner p{
        font-size: 0.6rem;
    }
}

/* <!------------------------------- HEADER-END ------------------------------------> */

/* <!------------------------------- Section-2-START ------------------------------------> */

#s2-main-div {
    margin-bottom: 5%;
}

#s2-heading h1{
    font-size: 5em;
    font-weight: bolder;
    margin-bottom: 5%;
}

/* -----------------------------------------cards---------------------------------------- */

#s2-card-div{
    background-color: white;
    padding: .5% 1.4%;
    border-radius: 10px;
    /* border: 2px solid black; */
    box-shadow: 0 0 20px rgb(197, 186, 186);
    transition: 1s ease;
    margin-bottom: 5%;
}

#s2-card-div:hover{
    box-shadow: 0 0 40px var(--basicColor);
}

#s2-card-1-img{
    background-image: url("images/amazon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 20%;
    /* border-radius: 10px; */
}

#s2-card-div h1{
    margin-top: 12%;
    font-size: 3em;
    margin-bottom: 3%;
    font-weight: bolder;
}

#s2-card-div p{
    font-size: 1.1rem;
}

#s2-button{
    display: inline-block;
    padding: 3% 15%;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    background-color: var(--basicColor) ;
    margin-top: 5%;
    font-size: 1.5em;
    font-weight: bolder;
    transition: all .5s ease;
}

#s2-button:hover{
    background-color: var(--hoverColor) ;
    color: black;
}

#s2-card-2-img{
    background-image: url("images/google.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 20%;
    /* border-radius: 10px; */
}

#s2-card-3-img{
    background-image: url("images/microsoft.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 20%;
    /* border-radius: 10px; */
}

@media only screen and (max-width:1680px){

    #s2-card-div{
        padding: .5% 1.6%;
    }

    #s2-card-div h1{
        margin-top: 12%;
        font-size: 2.5em;
    }

    #s2-card-div p{
        font-size: .9rem;
    }

    #s2-button{
        font-size: 1.2em;
    }
}

@media only screen and (max-width:900px){

    #s2-card-div{
        padding: .7% 2.3%;
    }

    #s2-card-div h1{
        margin-top: 10%;
        font-size: 2.2em;
    }

    #s2-card-div p{
        font-size: .8rem;
    }

    #s2-button{
        font-size: 1.1em;
    }
    #s2-card-div{
        margin-left: 6%;
    }

}

@media only screen and (max-width:575px){

    #s2-card-div{
        padding: 1% 3.9%;
        border: 1px solid black;
    }

    #s2-card-div h1{
        margin-top: 6%;
        font-size: 2.2em;
    }

    #s2-card-div p{
        font-size: .9rem;
    }

    #s2-button{
        font-size: .8em;
        padding: 3% 10%;
        margin-bottom: 2%;
    }
    #s2-card-div{
        margin-left: 6%;
    }
    #s2-card-2-img{
        transform: translateY(-110%);
    }    
    #s2-card-text{
        transform: translateY(90%);
    }
}

@media only screen and (max-width:550px){
    #s2-card-2-img{
        transform: translateY(-128%);
    }    
    #s2-card-text{
        transform: translateY(75%);
    }
}

@media only screen and (max-width:450px){

    #s2-heading h1{
        font-size: 3.5em;
        margin: 8% 0;
    }

    #s2-card-div{
        padding: 1% 3.9%;
        border: 2px solid black;
        box-shadow: none;
    }

    #s2-card-div h1{
        margin-top: 6%;
        font-size: 2.2em;
    }

    #s2-card-div p{
        font-size: .9rem;
    }

    #s2-button{
        font-size: .8em;
        padding: 3% 10%;
        margin-bottom: 2%;
    }
    #s2-card-div{
        margin-left: 6%;
    }
    #s2-card-1-img{
        background-image: none;
        padding: 0% 0;
    }
    #s2-card-2-img{
        background-image: none;
        padding: 0% 0;
    }
    #s2-card-text{
        transform: translateY(0%);
    }
    #s2-card-3-img{
        background-image: none;
        padding: 0% 0;
    }
}


/* <!------------------------------- Section-2-END ------------------------------------> */


/* <!------------------------------- Section-3-START ------------------------------------> */

#s3-main-div {
    padding-top: 5%;
    margin-bottom: 5%;
    background-image: linear-gradient(to right , #ea52f8,#0066ff);
}

#s3-heading h1{
    font-size: 5em;
    font-weight: bolder;
    margin-bottom: 5%;
    color: whitesmoke;
}

#s3-card-div{
    background-color: white;
    padding: .5% 1.5%;
    border-radius: 10px;
    /* border: 2px solid black; */
    border: 3px solid black;
    transition: 1s ease;
    margin-bottom: 5%;
    padding-bottom: 3%;
}

#s3-i-card{
    background-image: url("images/interview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20%;
}

#s3-card-div h1{
    text-align: center;
    margin-top: 4%;
    font-size: 3em;
    margin-bottom: 3%;
    font-weight: bolder;
}
#s3-card-div p{
    text-align: center;
    margin-bottom: 5%;
}

#s3-button{
    /* display: inline-block; */
    padding: 1% 5%;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    background-color: var(--basicColor) ;
    margin-top: 2%;
    font-size: 1.5em;
    font-weight: bolder;
    position: relative;
    left: 40%;
}

@media only screen and (max-width:825px) {
    #s3-heading h1{
        font-size: 3.5em;
    }    
    #s3-card-div{
        background-color: white;
        padding: .7% 2%;
        padding-bottom: 4%;
    }    
}

@media only screen and (max-width:600px) {

    #s3-card-div h1{
        font-size: 2.2em;
    }
    #s3-card-div p{
        font-size: .7em;
    }
    #s3-heading h1{
        font-size: 3.1em;
    }    
    #s3-card-div{
        background-color: white;
        padding: .9% 3.6%;
        padding-bottom: 4%;
    }    
    #s3-button{
        left: 35%;
    }
}

@media only screen and (max-width:450px) {

    #s3-card-div h1{
        font-size: 1.5em;
    }
    #s3-card-div p{
        font-size: .5em;
    }
    #s3-card-div{
        background-color: white;
        padding: 1.3% 3.9%;
        padding-bottom: 4%;
    }    
    #s3-button{
        font-size: .8em;
        left: 37%;
    }
}
