*{
    margin: 0;
    padding: 0;
  }
  .body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg{
    margin-top: 9%;
    height: 80vh;
    width: 80vw;
    /* background-color: black; */
    background-image: url("https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?w=826&t=st=1659456917~exp=1659457517~hmac=525d5902c71b7315ffb8d4d81660e0dc49beed7ca8abbd538936618b37305393");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

  }