*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

:root{
    --nuteralColor: #000000;
    --basicColor: #f45c43;
    --hoverColor: #909497;
}

html{
    scroll-behavior:smooth;
}

#logo{
    height: 60px;
    width: 250px;
}

.navbar-collapse{
    justify-content: end;
}

.navbar-expand-lg .navbar-nav .nav-link{
    margin-right: 120px;
}
 

.navbar-nav{
    color: black;
    font-weight: bolder;
}


#nav-log-btn{
    border-radius: 30px;
    font-size: 1.1em;
    background-color: var(--basicColor);
    padding: 1% 5%;
}

#nav-log-btn:hover{
    background-color: black;
}


#sticky{
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom: 2px solid #000; */
    z-index: 999;
}

@media only screen and (max-width:550px) {
    #sticky{
        position:relative;
    }
}

/* <!------------------------------- HEADER-START ------------------------------------> */
#header-banner{
    background-color: rgb(68, 67, 67);
    background-image: url("images/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-blend-mode: multiply;
    padding: 16%;
    margin-bottom: 3%;
    animation: slider-animate 10s linear infinite;
    transition: animation 2s linear;
    clip-path: polygon(50% 100%, 100% 79%, 100% 0, 0 0, 0 79%);
}

@keyframes slider-animate {
    0%{}
    25%{background-image: url("images/banner.jpg");background-position: center center;}
    50%{background-image: url("images/banner3.jpg");}
    100%{background-image: url("images/banner1.jpg");}

}

#header-banner h1{
    font-size: 5em;
    font-weight: bolder;
}
#header-banner p{
    font-size: 1.5rem;
}

@media only screen and (max-width:970px) {
    #header-banner h1{
        font-size: 4.6em;
    }
    #header-banner p{
        font-size: 1rem;
    }
}

@media only screen and (max-width:700px) {
    #header-banner h1{
        font-size: 3em;
    }
    #header-banner p{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:400px) {
    #header-banner h1{
        font-size: 2em;
    }
    #header-banner p{
        font-size: 0.6rem;
    }
}

/* <!------------------------------- HEADER-END ------------------------------------> */

/* <!------------------------------- Section-2-START ------------------------------------> */

#s2-main-div {
    margin-bottom: 5%;
}

#s2-heading h1{
    font-size: 5em;
    font-weight: bolder;
    margin-bottom: 5%;
}

#os-about{
    background-color: black;
    color: white;
    padding: 3% 0;
    margin-bottom: 5%;
}

#os-about h1{
    font-size: 3.4em;
}
#os-about p{
    font-size: 1.3em;
    font-weight: 100;
}
#os-about p a{
    font-size: 1em;
    font-weight: 100;
    text-decoration: none;
}
.os-card{
    color: white;
    padding: 0;
    overflow: hidden;
    margin-bottom: 4%;
    border-radius: 20px;
    /* border: 5px solid black; */
    box-shadow: 0 0 20px grey;
    transition: 3s linear ;
    background-color: rgb(60, 58, 58);
}

.os-card a{
    text-decoration: none;
    font-size: 2em;
    color: white;
    font-weight: bolder;
}

#os-c-1{
    background-image: url(https://img.freepik.com/free-vector/programming-language-illustration_24908-61529.jpg?w=740&t=st=1659368375~exp=1659368975~hmac=657c15263de55cd0ab13155ef043cfbd366862308edeaf955f3ae3046f91a02f);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 10%;
    transition: .4s ease ;
}
#os-c-2{
    background-image: url(https://img.freepik.com/free-vector/app-development-concept-with-programming-languages_23-2148688949.jpg?w=826&t=st=1659367925~exp=1659368525~hmac=a4653fbc6c592a9975b1aac2adeeef0cad032f7c79f4763fd2ac6c8a0e89aaa7);
    background-position: center center;
    background-size: contain;
    padding: 10%;
    transition: .4s ease ;
}
#os-c-3{
    background-image: url(https://img.freepik.com/free-vector/colourful-illustration-programmer-working_23-2148281410.jpg?w=826&t=st=1659368141~exp=1659368741~hmac=53cb08794150cc91d3f311c0a8738fa3393bbeccdcae20399c159935de36b844);
    background-position: bottom center;
    background-size: contain;
    padding: 10%;
    transition: .4s ease ;
}
#os-c-4{
    background-image: url(https://img.freepik.com/free-vector/programer-learning-programming-languages-by-computer-laptop-website-tutorial-channel-online-education-class-vector-illustration-software-development-programming-languages-learning_1150-55428.jpg?w=1380&t=st=1659368151~exp=1659368751~hmac=079ae9045cfb2e7c85a4c065fb5037bdef12c0d2599f165e6983951e7158a0af);
    background-position: bottom center;
    background-size: contain;
    padding: 10%;
    transition: .4s ease ;
}
#os-c-5{
    background-image: url(https://img.freepik.com/premium-vector/portrait-programmer-working-with-pc_23-2148217001.jpg?w=826);
    background-position: bottom center;
    background-size: contain;
    padding: 10%;
    transition: .4s ease ;
}
#os-c-6{
    background-image: url(https://img.freepik.com/free-vector/linear-web-development-illustration_1257-357.jpg?w=826&t=st=1659368058~exp=1659368658~hmac=6474ca56977bfc2421e63f92a21e2ca9b51cea03bc616ae46edf8d497818049e);
    background-position: bottom center;
    background-size: contain;
    padding: 10%;
    transition: .4s ease ;
}

.os-c-a{
    visibility: hidden;
}
.os-card:hover  {
    background-blend-mode: multiply;
}
.os-card:hover .os-c-a  {
    visibility: visible;
}

@media only screen and (max-width:1100px) {
    #os-c-1{
        padding: 10% 8%;
    }#os-c-3{
        padding: 10% 8%;
    }#os-c-4{
        padding: 10% 8%;
    }#os-c-6{
        padding: 10% 8%;
    }    
}
@media only screen and (max-width:990px) {
    #os-c-1{
        padding: 10% 15%;
    }
    #os-c-2{
        padding: 10% 15%;
    }
    #os-c-3{
        padding: 10% 15%;
    }
    #os-c-4{
        padding: 10% 15%;
    }
    #os-c-5{
        padding: 10% 15%;
    }
    #os-c-6{
        padding: 10% 15%;
    }    
}
@media only screen and (max-width:700px) {

    #s2-heading h1{
        font-size: 3.2em;
    }
     #os-about h1{
        font-size: 2.5em;
    }
     #os-about p{
        font-size: 1em;
    }
    #os-c-1{
        padding: 15% 30%;
    }
    #os-c-2{
        padding: 15% 30%;
    }
    #os-c-3{
        padding: 15% 30%;
    }
    #os-c-4{
        padding: 15% 30%;
    }
    #os-c-5{
        padding: 15% 30%;
    }
    #os-c-6{
        padding: 15% 30%;
    }    
}

/* <!------------------------------- Section-3-START ------------------------------------> */

#s3-main-div {
    padding-top: 5%;
    margin-bottom: 5%;
    background-image: linear-gradient(to right , #eb3349,#f45c43);  
}

#s3-heading h1{
    text-transform:uppercase;
    font-size: 4.5em;
    font-weight: bolder;
    margin-bottom: 5%;
    color: whitesmoke;
}

#s3-card-div{
    background-color: white;
    padding: .5% 1.5%;
    border-radius: 10px;
    /* border: 2px solid black; */
    border: 3px solid black;
    transition: 1s ease;
    margin-bottom: 5%;
    padding-bottom: 3%;
}

#s3-i-card{
    background-image: url("https://img.freepik.com/free-vector/job-interview-conversation_74855-7566.jpg?w=1380&t=st=1659368504~exp=1659369104~hmac=70e0951b7cb91264a15778b4d5fc549bd30dfed89df1e28a91af0b9e7b7b5fb6");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20%;
}

#s3-card-div h1{
    text-align: center;
    margin-top: 4%;
    font-size: 3em;
    margin-bottom: 3%;
    font-weight: bolder;
}
#s3-card-div p{
    text-align: center;
    margin-bottom: 5%;
}

#s3-button{
    /* display: inline-block; */
    padding: 1% 5%;
    text-decoration: none;
    /* border-radius: 20px; */
    color: white;
    background-color: var(--nuteralColor) ;
    margin-top: 2%;
    font-size: 1.5em;
    font-weight: bolder;
    position: relative;
    left: 40%;
}
#s3-button:hover{
    background-color: white ;
    border: 1px solid black;
    color: black;
}

@media only screen and (max-width:825px) {
    #s3-heading h1{
        font-size: 3.5em;
    }    
    #s3-card-div{
        background-color: white;
        padding: .7% 2%;
        padding-bottom: 4%;
    }    
}

@media only screen and (max-width:600px) {

    #s3-card-div h1{
        font-size: 2.2em;
    }
    #s3-card-div p{
        font-size: .7em;
    }
    #s3-heading h1{
        font-size: 3.1em;
    }    
    #s3-card-div{
        background-color: white;
        padding: .9% 3.6%;
        padding-bottom: 4%;
    }    
    #s3-button{
        left: 35%;
    }
}

@media only screen and (max-width:450px) {

    #s3-card-div h1{
        font-size: 1.5em;
    }
    #s3-card-div p{
        font-size: .5em;
    }
    #s3-card-div{
        background-color: white;
        padding: 1.3% 3.9%;
        padding-bottom: 4%;
    }    
    #s3-button{
        font-size: .8em;
        left: 37%;
    }
}

/* <!------------------------------- Section-3-END ------------------------------------> */


/* <!------------------------------- Review-START ------------------------------------> */

.rev-div{
    /* border: 1px solid black; */
    /* background-image: linear-gradient(to top , #eb3349,#f45c43); */
    background-color: rgb(52, 50, 50);
    color: white;
    padding: 1.5% 2%;
    margin-bottom: 9%;
    border-radius: 30px;
    box-shadow: 0 0 20px grey;
}

.rev-div h4{
    text-transform: capitalize;
    margin-top: 2%;
    font-weight: bolder;
    font-size: 2em;
}

.rev-div span{
    color: rgba(255, 255, 0, 0.628);
    font-size: 1.7em;
}

@media only screen and (max-width:1330px) {
    .rev-div h4{
        font-size: 1.9em;
    }
    .rev-div p{
        font-size: .9em;
    }
    .rev-div span{
        font-size: 1.4em;
    }
    
}
@media only screen and (max-width:1165px) {
    .rev-div{
        padding: 3%;
    }
    .rev-div h4{
        font-size: 1.5em;
    }
    .rev-div p{
        font-size: .7em;
    }
    .rev-div span{
        font-size: 1.1em;
    }
    
}
@media only screen and (max-width:450px) {
    .rev-div{
        padding: 5%;
    }
}    

/* <!------------------------------- Review-END ------------------------------------> */


/* <!------------------------------- About-start ------------------------------------> */

#about-sec{
    background-color: #000;
    color: white;
    padding-top: 4%;
    padding-bottom: 2%;
    /* border-top-right-radius: 40px; */
}
#about1-sec{
    border-right: 1px solid white;
    padding: 0 4%;
    font-size: 1.2em;
}
#about1-sec h1{
    font-weight: bolder;
}

#about2-sec{
    font-size: 1.2em;
    margin-left: 3%;
}
#about2-sec h1{
    font-weight: bolder;
}
#about2-sec a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 0 3%;
    font-size: 1.1em;
}
@media only screen and (max-width:1130px) {
    #about1-sec{
        font-size: 1em;
    }
    #about2-sec{
        font-size: 1em;
    }
    #about2-sec a{
        font-size: 1.1em;
    }
}
@media only screen and (max-width:768px) {
    #about-sec{
        border-top-right-radius: 0px;
    }
    #about1-sec{
        font-size: 1.2em;
        margin-bottom: 3%;
    }
    #about2-sec{
        font-size: 1.2em;
    }
    #about2-sec a{
        font-size: 1.1em;
    }
}
@media only screen and (max-width:450px) {
    #about-sec{
        border-top-right-radius: 0px;
    }
    #about1-sec{
        font-size: .8em;
        margin-bottom: 3%;
    }
    #about2-sec{
        font-size: 1.1em;
    }
    #about2-sec a{
        font-size: .8em;
    }
}
/* <!------------------------------- About-END ------------------------------------> */

#logOutBtn{
    background-color: var(--basicColor);
    width: 150px;
    border: 0px;
    
}

#logOutBtn:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

@media only screen and (max-width:800px) {
    #logOutBtn{
        width: 100px;
    }
}